<h1> Welcome to Bustle </h1>

<h3>Bustle is for &amp; by women who are moving forward as fast as you are</h3>

<ul>
  {{#each model as |article|}}
     {{article-tile article=article destroyArticle="destroyArticle"}}
  {{/each}}
</ul>

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
